.hero-wrap.hero-bread {
    padding: 10em 0;
}

.hero-wrap, .img, .blog-img, .user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

.hero-wrap {
    width: 100%;
    position: relative;
}

div {
    display: block;
}

.ftco-section {
    padding: 6em 0;
    position: relative;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-primar, .btn-primary:disabled {
    color: #fff;
    background-color: #29252a;
    border-color: #29252a;
    opacity: 100;
}

.input-image-placeholder {
    color: #c1bbbe;
    cursor: pointer;
    display: block;
    font-size: 2vw;
    height: 8vw;
    max-height: 2rem;
    max-width: 2rem;
    outline: none;
    position: relative;
    text-decoration: none;
    width: 8vw;
    
}

.file-input {
    display: none;
}

#input-file {
    text-align: center;
    background-image: url('../img/large-camera.png');
}

p.search-box {
    background-color: #ad7d78;
    width: 600px;
    height: 200px;;
}