
.hero-wrap.hero-bread {
    padding: 10em 0;
}

.hero-wrap, .img, .blog-img, .user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

.hero-wrap {
    width: 100%;
    position: relative;
}

div {
    display: block;
}

.ftco-section {
    padding: 6em 0;
    position: relative;
}

/* .ftco-section .container  */

.btn-block {
    display: block;
    width: 100%;
}

.btn-primar, .btn-primary:disabled {
    color: #fff;
    background-color: #38A99A;
    border-color: #38A99A;
    opacity: 100;
    font-size: 1.5em;
}

.input-image-placeholder {
    color: #c1bbbe;
    cursor: pointer;
    display: block;
    font-size: 2vw;
    height: 8vw;
    max-height: 2rem;
    max-width: 2rem;
    outline: none;
    position: relative;
    text-decoration: none;
    width: 8vw;
    
}

.file-input {
    display: none;
}

div.camera-icon {
    align-content: center;
    border : 3px dashed #51679c; 
    flex: 1;
    margin : 5px;
    border-radius: 25px;
}

span.camera-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 10px;
}

.camera-icon img {
    max-width: 150px;
    max-height: auto;
    /* margin : 5px; */
}

h1.imHead {
    color : white;

}

div > input[type="file"] {
    opacity: 0;
    display: none;
}

div.col-lg-6.camera-icon:hover {
    background-color:  #C5BDB7;
    
}