body{
    color: #29252a;
}
input{
    border-color: #7e777c;
}
input:focus{
    border-color: #7e777c;
}

nav.nav {
    background-color: #29252a;
    color: #dad0d0;
    font-size: 20px;
    height: 60px;
}
nav.nav a {
    align-content: center;
    color: #dad0d0;
}

footer {
    background-color: #29252a;
    color: #dad0d0;
    font-size: 20px;
    height: 60px;
    bottom: 0px;
}

a {
    color: #545c6c ;
}

.table {
    min-width: 1000px !important;
    width: 100%;
}
.table .thead-primary{
    background-color: #29252a;
    color: #dad0d0d0;
}

nav ul#large-nav-user-dropdown-container {
    display: none !important;
}

nav div.container button.navbar-toggler {
    padding: 0px;
}

nav div.container img.nav-user-image {
    height: 32px;
}

@media (min-width: 576px) {
    nav div.container img.nav-user-image {
        height: 32px;
    }
}

@media (min-width: 768px) {
    nav div.container img.nav-user-image {
        height: 32px;
    }
}

@media (min-width: 992px) {
    nav div.user-collapse#small-nav-user-dropdwon-container {
        display: none !important;
    }

    nav div.container img.nav-user-image {
        height: 40px;
    }

    nav ul#large-nav-user-dropdown-container {
        display: block !important;
    }

}

@media (min-width: 1200px) {
    nav div.container img.nav-user-image {
        height: 40px;
    }
}

.hero-wrap.hero-bread {
    padding: 10em 0;
}

.hero-wrap {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.hero-wrap {
    width: 100%;
    position: relative;
}