body{
    background-color: #dad0d0;
}
#login-image-container img {
    width: 100%;;
}
#input-container>div:last-child {
    padding: 10px;
}

#input-container > div{
    margin: 1em;
}

div h1 {
    margin-bottom: 1em;
}