#chat-frame {
    display: felx;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    outline: none;
    margin: 0;
    padding: 0;
    border: 0;
    height: calc(100% - 38px);
}
#chat-contents{
    display: flex;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 200;
}
#sidepanel {
    background-color: #29252a;
    color: #dad0d0;
    height: 100vh;
    flex: 30%;
}
#content-panel {
    height: 100vh;
    margin-top: -60px;
    padding-top: 70px;
    flex: 70%;
    display: felx;
    flex-direction: column;
}

#sidepanel ul {
    padding-inline-start: 0px;
}
#sidepanel ul li {
    padding: 5px;
    overflow: hidden;
    text-decoration: none;
    border-bottom: 1px solid #545c6c;
}
.contact-image-warpper {
    width: 40%;
    max-height: 100px;
    max-width: 100px;
    float: left;
}
.contact-image-warpper img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    max-height: 80px;
    max-width: 80px;
}
.contact-text-warpper{
    display: inline;
}

#content-panel #message-warp {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    height: 85%;
}

#content-panel #mesage-send{
    align-items: flex-end;
    height: 15%;
}

#content-panel .message-container {
    width: 100%;
    display: flex;
    padding-top: 10px;
    height: fit-contents;
    align-items: flex-end;
}
#content-panel .message-container.sender{
    flex-direction: row-reverse;
}
#content-panel .message-container .message {
    max-width: 70%;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    margin: 10px;
    align-items: flex-end;
}
#content-panel .message.sender{
    background-color: #67474c ;
    color: #dad0d0;
}

#content-panel .message.reciever {
    background-color: #545c6c;
    color: #dad0d0;
}

div#mesage-send {
    margin-bottom: 0px;
    width: 100%;
}

div#mesage-send #in-message-text{
    width: 75%;
    padding: 10px;
}

div#message-send #btn-message-send {
    width: 20%;
    padding: 10px;
    background-color: #dad0d0;

}

#message-warp {
    width: 100%;
    padding: 10px;
    overflow: scroll;
}

#message-send {
    width: 100%;
    padding: 10px;
}